GATEWAY_TAG=0.1.0
API_TOKEN=replace-me

CLOUD_MQTT_HOST=47.106.145.127
CLOUD_MQTT_PORT=8883
LOCAL_MQTT_HOST=broker
LOCAL_MQTT_PORT=8883

DANGBEI_CLIENT_ID=YUFC012CD19AA8518347
DANGBEI_USERNAME=YUFC012CD19AA8518347
DANGBEI_PASSWORD=YU010387
DANGBEI_GROUP=YU01
DANGBEI_MAC=FC:01:2C:D1:9A:A8
DANGBEI_SN=DHYU1S18253518347
DANGBEI_ROM_VER_CODE=2025.01.08.1
